/****************全局字体****************/
* {
    font-family: 'Consolas', 'Inziu Roboto J', 'Microsoft YaHei UI', monospace;
}


/*****************主窗口*****************/
QMainWindow {
    background: #666666;
}


/*****************菜单栏*****************/
QMenuBar {
    background-color: #666666;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
    color: #EFEFEF;
    font-family: 'Microsoft YaHei UI', '微软雅黑', monospace;
}
QMenuBar::item {
    padding: 5px 12px;
    background: transparent;
}
QMenuBar::item:selected, QMenuBar::item:pressed {
    background: #888888;
}


/******************菜单******************/
QMenu {
    background-color: #F0F0F0;
    border: 1px solid #ACACAC;
    font-family: 'Microsoft YaHei UI', '微软雅黑', monospace;
}
QMenu::item {
    background-color: transparent;
    padding: 3px 15px;
    border: 1px solid #F0F0F0;
}
QMenu::item:selected {
    background-color: #969696;
}


/*****************工具栏*****************/
QToolBar {
    background: #444444;
    border-bottom: 1px solid #666666;
}


/***************工具栏按钮***************/
QToolButton {
    background: #444444;
    color: #FFFFFF;
    font-family: 'Microsoft YaHei UI', '微软雅黑', monospace;
    font-size: 9pt;
    padding: 3px 5px;
    margin-right: 3px;
    border: none;
}
QToolButton:disabled {
    color: darkgray;
}
QToolButton:on {
    background-color: #666666;
    color: #FFFFFF;
    font-weight: bold;
}
QToolButton:hover {
    background-color: #217346;
}

/**************表格行列标题**************/
QHeaderView {
    border: 1px transparent;
    border-radius: 2px;
    margin: 0;
    padding: 0;
    background: #666666;
    gridline-color: #A0ADA6;
}
QHeaderView::section:horizontal:first {
    border-left: 1px solid #A0ADA6;
}
QHeaderView::section:vertical:first {
    border-top: 1px solid #A0ADA6;
}
QHeaderView::section:horizontal {
    background: #666666;
    color: #FFFFFF;
    padding: 2px 5px;
    border-right: 1px solid #A0ADA6;
    border-bottom: 1px solid #666666;
    border-radius: 0;
    text-align: center;
    font-weight: bold;
}
QHeaderView::section:vertical {
    background: #666666;
    color: #FFFFFF;
    padding: 2px 5px;
    border-bottom: 1px solid #A0ADA6;
    border-right: 1px solid #666666;
    border-radius: 0;
    text-align: center;
}
QHeaderView::section:horizontal:checked {
    color: white;
    background-color: #262626;
    border-bottom: 1px solid #0A6332;
}
QHeaderView::section:vertical:checked {
    color: white;
    background-color: #262626;
    border-right: 1px solid #0A6332;
}
QHeaderView::section:horizontal:hover {
    background: #0A6332;
    border-bottom: 1px solid #0A6332;
}
QHeaderView::section:vertical:hover {
    background: #0A6332;
    border-right: 1px solid #0A6332;
}


/******************表格******************/
QTableView {
    border: none;
    background: #B1B1B1;
    gridline-color: #D4D4D4;
}
QTableView::item {
    background: #FFFFFF;
    color: #000000;
}
QTableView::item:selected {
    background: #C6C6C6;
}
QTableCornerButton::section {
    border: none;
    background-color: #666666;
}
QTableCornerButton::section:pressed {
    background-color: #262626;
}


/*****************文本框*****************/
QLabel {
    color: #FFFFFF;
}


/*****************下拉框*****************/
QComboBox {
    height: 25px;
    border: 1px solid transparent;
    background: #FFFFFF;
}
QFrame>QComboBox {
    height: 25px;
    border: 1px solid #444444;
    background: #B1B1B1;
}
QComboBox::drop-down {
    margin: 0;
    padding: 0;
    border: none;
    width: 17px;
    background: transparent;
}
QComboBox::drop-down:hover {
    background: rgba(255, 255, 255, 50);
}
QComboBox::down-arrow {
    image: url(:/arrow/down-arrow.png);
}
QComboBox QAbstractItemView {
    border: 1px solid #0078D7;
    background: transparent;
    outline: none;
}
QComboBox QAbstractItemView::item {
    height: 25px;
    background: #FFFFFF;
    selection-background-color: #000000;
    color: #000000;
}
QFrame>QComboBox QAbstractItemView::item {
    height: 25px;
    background: #B2B2B2;
    selection-background-color: #000000;
    color: #000000;
}
QComboBox QAbstractItemView::item:hover {
    background: #444444;
    color: #FFFFFF;
}


/*****************微调框*****************/
QSpinBox {
    border-radius: 0;
    height: 25px;
    border: 1px solid #000000;
    background: #FFFFFF;
}
QSpinBox::up-button {
    width: 15px;
    height: 12px;
    image: url(:/button/up-button.png);
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background: #B1B1B1;
}
QSpinBox::up-button:hover {
    background: #D4D4D4
}
QSpinBox::up-button:!enabled {
    background: transparent;
}
QSpinBox::down-button {
    width: 15px;
    height: 12px;
    image: url(:/button/down-button.png);
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    background: #B1B1B1;
}
QSpinBox::down-button:hover {
    background: #D4D4D4
}
QSpinBox::down-button:!enabled {
    background: transparent;
}
QFrame>QSpinBox {
    font-family: 'Lucida Console', 'Consolas', monospace;
    font-size: 10pt;
}
